# Web Scraping Assignment 4

# 1. 
Scrape the details of most viewed videos on YouTube from Wikipedia.

Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos

You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [1]:
import time  #importing libraries
import selenium
import pandas as pd 
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.common.by import By
s=Service("C:\\Users\\Hinal\\Downloads\\chromedriver_win32\\chromedriver.exe")  #opening chrome
driver = webdriver.Chrome(service=s)    
driver.maximize_window()
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")     #getting the webpage

rank=[] #empty list
name=[] #empty list
artist=[] #empty list
upload =[] #empty list
views=[] #empty list

time.sleep(2)

#fetching rank
r=driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[1]")
for i in r:
    rank.append(i.text)

#fetching name    
n=driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[2]")
for i in n:
    name.append(i.text)
    
#fetching artist
a=driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[3]")
for i in a:
    artist.append(i.text)

#fetching upload date    
u=driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[5]")
for i in u:
    upload.append(i.text)    

#fetching views    
v=driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[4]")
for i in v:
    views.append(i.text)    
    
MostViewed=pd.DataFrame({})    #creating dataframe
#Since there are two different tables , and our required data is in first, hence we fetch it using indexing 
MostViewed['Rank']=rank[0:30] 
MostViewed['Name of video']=name[0:30]
MostViewed['Artist']=artist[0:30]
MostViewed['Upload Date']=upload[0:30]
MostViewed['Views']=views[0:30]
MostViewed

,Rank,Name of video,Artist,Upload Date,Views
0,1.,"""Baby Shark Dance""[3]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",9.85
1,2.,"""Despacito""[5]",Luis Fonsi,"January 12, 2017",7.66
2,3.,"""Johny Johny Yes Papa""[11]",LooLoo Kids,"October 8, 2016",6.01
3,4.,"""Shape of You""[12]",Ed Sheeran,"January 30, 2017",5.56
4,5.,"""See You Again""[14]",Wiz Khalifa,"April 6, 2015",5.36
5,6.,"""Bath Song""[19]",Cocomelon – Nursery Rhymes,"May 2, 2018",4.74
6,7.,"""Learning Colors – Colorful Eggs on a Farm""[20]",Miroshka TV,"February 27, 2018",4.54
7,8.,"""Masha and the Bear – Recipe for Disaster""[21]",Get Movies,"January 31, 2012",4.47
8,9.,"""Uptown Funk""[22]",Mark Ronson,"November 19, 2014",4.39
9,10.,"""Phonics Song with Two Words""[23]",ChuChu TV,"March 6, 2014",4.35
10,11.,"""Gangnam Style""[24]",Psy,"July 15, 2012",4.28
11,12.,"""Dame Tu Cosita""[29]",El Chombo,"April 5, 2018",3.76
12,13.,"""Sugar""[30]",Maroon 5,"January 14, 2015",3.61
13,14.,"""Sorry""[31]",Justin Bieber,"October 22, 2015",3.49
14,15.,"""Roar""[32]",Katy Perry,"September 5, 2013",3.49
15,16.,"""Counting Stars""[33]",OneRepublic,"May 31, 2013",3.46
16,17.,"""Wheels on the Bus""[34]",Cocomelon – Nursery Rhymes,"May 24, 2018",3.41
17,18.,"""Thinking Out Loud""[35]",Ed Sheeran,"October 7, 2014",3.37
18,19.,"""Faded""[36]",Alan Walker,"December 3, 2015",3.20
19,20.,"""Girls Like You""[37]",Maroon 5,"May 31, 2018",3.20
20,21.,"""Dark Horse""[38]",Katy Perry,"February 20, 2014",3.19
21,22.,"""Bailando""[39]",Enrique Iglesias,"April 11, 2014",3.14
22,23.,"""Lean On""[40]",Major Lazer,"March 22, 2015",3.13
23,24.,"""Let Her Go""[41]",Passenger,"July 25, 2012",3.13
24,25.,"""Axel F""[42]",Crazy Frog,"June 16, 2009",3.13
25,26.,"""Shake It Off""[43]",Taylor Swift,"August 18, 2014",3.12
26,27.,"""Perfect""[44]",Ed Sheeran,"November 9, 2017",3.04
27,28.,"""Mi Gente""[45]",J Balvin,"June 29, 2017",3.01
28,29.,"""Waka Waka (This Time for Africa)""[46]",Shakira,"June 4, 2010",3.01
29,30.,"""Baa Baa Black Sheep""[47]",Cocomelon – Nursery Rhymes,"June 25, 2018",2.97

# 2.
Scrape the details team India’s international fixtures from bcci.tv.

Url = https://www.bcci.tv/.

You need to find following details:
A) Match title (I.e. 1
st ODI)
B) Series
C) Place
D) Date
E) Time

In [2]:
driver.get("https://www.bcci.tv/")  #getting the webpage
time.sleep(2)
#clicking on international
international=driver.find_element(By.XPATH,"/html/body/div[3]/div/div[2]/div[2]/nav/ul/li[1]/div[2]").click() 
time.sleep(2)
#clicking on fixtures 
fixture=driver.find_element(By.XPATH,"/html/body/div[3]/div/div[2]/div[2]/nav/ul/li[1]/div[2]/div/ul/li[1]/a").click()

match=[]  #empty list
series=[] #empty list
place=[]  #empty list
mdate=[]  #empty list
mtime=[]  #empty list
url=[]    #empty list

#fetching match title
m=driver.find_elements(By.XPATH,"//p[@class='fixture__additional-info']/strong")
for i in m:
    match.append(i.text)

#fetching series    
s=driver.find_elements(By.XPATH,"//span[@class='u-unskewed-text fixture__tournament-label u-truncated']")
for i in s:
    series.append(i.text)

#fetching Place    
p=driver.find_elements(By.XPATH,"//p[@class='fixture__additional-info']/span")
for i in p:
    place.append(i.text)

#fetching urls of each match to get date and time     
urls=driver.find_elements(By.XPATH,"//div[@class='js-list']/a")
for i in urls[:]:
    url.append(i.get_attribute('href')) 
        
for i in url:      #fetching data from Each Match's URL
    driver.get(i)   
    time.sleep(2)
    
    d=driver.find_element(By.XPATH,"//div[@class='mc-header-scorebox__datetime']/strong")  #fetching date
    mdate.append(d.text)
    
    t=driver.find_element(By.XPATH,"//div[@class='mc-header-scorebox__datetime']/span[1]")  #fetching time
    mtime.append(t.text)

Fixtures=pd.DataFrame({})    #creating Dataframe
Fixtures['Match Title']=match
Fixtures['Series']=series
Fixtures['Place']=place
Fixtures['Date']=mdate
Fixtures['Time']=mtime
Fixtures

,Match Title,Series,Place,Date,Time
0,1st Test,SOUTH AFRICA V INDIA 2021/2022,"Supersport Park, Centurion",Sunday 26 December,13:30 IST
1,2nd Test,SOUTH AFRICA V INDIA 2021/2022,"New Wanderers Stadium, Johannesburg",Monday 3 January,13:30 IST
2,3rd Test,SOUTH AFRICA V INDIA 2021/2022,"Newlands, Cape Town",Tuesday 11 January,14:00 IST
3,1st ODI,SOUTH AFRICA V INDIA 2021/2022,"Boland Park, Paarl",Wednesday 19 January,14:00 IST
4,2nd ODI,SOUTH AFRICA V INDIA 2021/2022,"Boland Park, Paarl",Friday 21 January,14:00 IST
5,3rd ODI,SOUTH AFRICA V INDIA 2021/2022,"Newlands, Cape Town",Sunday 23 January,14:00 IST
6,1st ODI,INDIA V WEST INDIES 2022,"Narendra Modi Stadium, Ahmedabad",Sunday 6 February,13:00 IST
7,2nd ODI,INDIA V WEST INDIES 2022,"Sawai Mansingh Stadium, Jaipur",Wednesday 9 February,13:00 IST
8,3rd ODI,INDIA V WEST INDIES 2022,"Eden Gardens, Kolkata",Saturday 12 February,13:00 IST
9,1st T20I,INDIA V WEST INDIES 2022,"Barabati Stadium, Cuttack",Tuesday 15 February,19:00 IST
10,2nd T20I,INDIA V WEST INDIES 2022,"ACA-VDCA Stadium, Visakhapatnam",Friday 18 February,19:00 IST
11,3rd T20I,INDIA V WEST INDIES 2022,"Greenfield Stadium, Thiruvananthapuram",Sunday 20 February,19:00 IST
12,1st Test,INDIA V SRI LANKA 2022,"M.Chinnaswamy Stadium, Bangalore",Friday 25 February,09:30 IST
13,2nd Test,INDIA V SRI LANKA 2022,"Punjab Cricket Association Stadium, Mohali, Ch...",Saturday 5 March,09:30 IST
14,1st T20I,INDIA V SRI LANKA 2022,"Punjab Cricket Association Stadium, Mohali, Ch...",Sunday 13 March,19:00 IST
15,2nd T20I,INDIA V SRI LANKA 2022,"Himachal Pradesh Cricket Association Stadium, ...",Tuesday 15 March,19:00 IST
16,3rd T20I,INDIA V SRI LANKA 2022,Bharat Ratna Shri Atal Bihari Vajpai Ekana Cri...,Friday 18 March,19:00 IST
17,1st T20I,INDIA V SOUTH AFRICA 2022,"M. A. Chidambaram Stadium, Chennai",Thursday 9 June,19:00 IST
18,2nd T20I,INDIA V SOUTH AFRICA 2022,"M.Chinnaswamy Stadium, Bangalore",Sunday 12 June,19:00 IST
19,3rd T20I,INDIA V SOUTH AFRICA 2022,"Vidarbha Cricket Association Stadium, Nagpur",Tuesday 14 June,19:00 IST

# 3. 
Scrape the details of selenium exception from guru99.com.

Url = https://www.guru99.com/
    
You need to find following details:
A) Name
B) Description

In [3]:
driver.get("https://www.guru99.com/")    #getting the webpage
#clicking on selenium
selenium=driver.find_element(By.XPATH,"/html/body/div[1]/div/div/div/main/div/article/div/div[1]/div[2]/div[1]/div/ul[1]/li[3]/a").click()
time.sleep(2)
#clicking on Exception Handling 
exhand=driver.find_element(By.XPATH,"/html/body/div[1]/div/div/div/main/div/article/div/div/table[5]/tbody/tr[34]/td[1]/a/strong").click()

name=[]   #empty list
desc=[]   #empty list

n=driver.find_elements(By.XPATH,"//table[@class='table table-striped']/tbody/tr/td[1]")  #fetching name
for i in n:
    name.append(i.text)
    
d=driver.find_elements(By.XPATH,"//table[@class='table table-striped']/tbody/tr/td[2]")  #fetching description
for i in d:
    desc.append(i.text)    
    
Exception = pd.DataFrame({})   #creating the dataframe
#since the zeroth index contains the column titles and we don't want to print it twice, hence we use slicling 
Exception['Name of Exception']=name[1:]
Exception['Description']=desc[1:]
Exception

,Name of Exception,Description
0,ElementNotSelectableException,This Selenium exception occurs when an element...
1,NoSuchElementException,This Exception occurs if an element could not ...
2,NoSuchFrameException,This Exception occurs if the frame target to b...
3,NoAlertPresentException,This Exception occurs when you switch to no pr...
4,NoSuchWindowException,This Exception occurs if the window target to ...
5,StaleElementReferenceException,This Selenium exception occurs happens when th...
6,SessionNotFoundException,The WebDriver is acting after you quit the bro...
7,TimeoutException,Thrown when there is not enough time for a com...
8,WebDriverException,This Exception takes place when the WebDriver ...
9,ConnectionClosedException,This type of Exception takes place when there ...
10,ElementClickInterceptedException,The command may not be completed as the elemen...
11,ElementNotInteractableException,This Selenium exception is thrown when any ele...
12,ErrorInResponseException,This happens while interacting with the Firefo...
13,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
14,ImeActivationFailedException,This expectation will occur when IME engine ac...
15,ImeNotAvailableException,It takes place when IME support is unavailable.
16,InsecureCertificateException,Navigation made the user agent to hit a certif...
17,InvalidArgumentException,It occurs when an argument does not belong to ...
18,InvalidCookieDomainException,This happens when you try to add a cookie unde...
19,InvalidCoordinatesException,This type of Exception matches an interacting ...
20,InvalidElementStateExceptio,It occurs when command can’t be finished when ...
21,InvalidSessionIdException,This Exception took place when the given sessi...
22,InvalidSwitchToTargetException,This occurs when the frame or window target to...
23,JavascriptException,This issue occurs while executing JavaScript g...
24,JsonException,It occurs when you afford to get the session w...
25,NoSuchAttributeException,This kind of Exception occurs when the attribu...
26,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
27,NoSuchContextException,ContextAware does mobile device testing.
28,NoSuchCookieException,This Exception occurs when no cookie matching ...
29,NotFoundException,This Exception is a subclass of WebDriverExcep...
30,RemoteDriverServerException,This Selenium exception is thrown when the ser...
31,ScreenshotException,It is not possible to capture a screen.
32,SessionNotCreatedException,It happens when a new session could not be suc...
33,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
34,UnexpectedTagNameException,Happens if a support class did not get a web e...
35,UnhandledAlertException,This expectation occurs when there is an alert...
36,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
37,UnknownMethodException,This Exception happens when the requested comm...
38,UnreachableBrowserException,This Exception occurs only when the browser is...
39,UnsupportedCommandException,This occurs when remote WebDriver does n’t sen...

# 4. 
Scrape the details of State-wise GDP of India from statisticstime.com.

Url = http://statisticstimes.com/
    
You have to find following details:
A) Rank
B) State
C) GSDP
D) GSDP
E) Share
F) GDP($ billion)

In [4]:
driver.get("https://www.statisticstimes.com/")   #getting the webpage
economy=driver.find_element(By.XPATH,"/html/body/div[2]/div[1]/div[2]/div[2]/button").click()  #clicking on economy
time.sleep(2)
ind=driver.find_element(By.XPATH,"/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]").click()   #clicking on India
time.sleep(2)
stategdp=driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div[2]/ul/li[2]/a").click()   #clicking on India's State GDP

rank=[]   #empty list
state=[]  #empty list
gsdp1=[]  #empty list
gsdp2=[]  #empty list
share=[]  #empty list
gdp=[]    #empty list

r=driver.find_elements(By.XPATH,"//table[@id='table_id']/tbody/tr/td[1]")   #fetching rank
for i in r:
    rank.append(i.text)
    
s=driver.find_elements(By.XPATH,"//table[@id='table_id']/tbody/tr/td[2]")   #fetching state
for i in s:
    state.append(i.text)
    
gs=driver.find_elements(By.XPATH,"//table[@id='table_id']/tbody/tr/td[4]")  #fetching gsdp at current price for 2018-2019
for i in gs:
    gsdp1.append(i.text)
    
gsd=driver.find_elements(By.XPATH,"//table[@id='table_id']/tbody/tr/td[8]") #fetching gsdp at constant price for 2018-2019
for i in gsd:
    gsdp2.append(i.text)
    
sh=driver.find_elements(By.XPATH,"//table[@id='table_id']/tbody/tr/td[5]")   #fetching share
for i in sh:
    share.append(i.text)
    
g=driver.find_elements(By.XPATH,"//table[@id='table_id']/tbody/tr/td[6]")   #fetching gdp
for i in g:
    gdp.append(i.text)
    
IndiaGDP=pd.DataFrame({})  #creating the dataframe
IndiaGDP['Rank']=rank
IndiaGDP['State']=state
IndiaGDP['GSDP per capita (INR at Current prices)']=gsdp1
IndiaGDP['GSDP per capita (INR at Constant prices)']=gsdp2
IndiaGDP['Share']=share
IndiaGDP['GDP($ Billion)']=gdp
IndiaGDP

,Rank,State,GSDP per capita (INR at Current prices),GSDP per capita (INR at Constant prices),Share,GDP($ Billion)
0,1,Goa,"476,370","376,215",335%,"7,029"
1,2,Sikkim,"435,199","283,669",306%,"6,421"
2,3,Delhi,"394,216","300,452",277%,"5,817"
3,4,Chandigarh,"359,030","265,919",252%,"5,297"
4,5,Haryana,"260,287","188,288",183%,"3,840"
5,6,Karnataka,"227,680","166,373",160%,"3,359"
6,7,Puducherry,"225,936","151,001",159%,"3,334"
7,8,Kerala,"225,484","161,374",158%,"3,327"
8,9,Telangana,"225,048","160,175",158%,"3,321"
9,10,Gujarat,"222,486","175,630",156%,"3,283"
10,11,Uttarakhand,"220,257","173,121",155%,"3,250"
11,12,Maharashtra,"216,375","167,581",152%,"3,193"
12,13,Tamil Nadu,"215,784","160,865",152%,"3,184"
13,14,Himachal Pradesh,"211,325","161,882",148%,"3,118"
14,15,Mizoram,"187,919","138,934",132%,"2,773"
15,16,Punjab,"171,906","129,873",121%,"2,536"
16,17,Andhra Pradesh,"168,083","121,015",118%,"2,480"
17,18,Arunachal Pradesh,"152,716","103,514",107%,"2,253"
18,19,Nagaland,"129,978","84,071",91%,"1,918"
19,20,Tripura,"125,459","93,035",88%,"1,851"
20,21,Rajasthan,"123,343","88,645",87%,"1,820"
21,22,Odisha,"111,892","86,447",79%,"1,651"
22,23,Jammu & Kashmir,"110,890","80,173",78%,"1,636"
23,24,West Bengal,"110,728","75,132",78%,"1,634"
24,25,Chhattisgarh,"105,424","80,154",74%,"1,555"
25,26,Madhya Pradesh,"99,025","63,850",70%,"1,461"
26,27,Meghalaya,"96,015","70,783",67%,"1,417"
27,28,Assam,"92,533","68,562",65%,"1,365"
28,29,Manipur,"82,796","57,335",58%,"1,222"
29,30,Jharkhand,"79,937","60,513",56%,"1,179"
30,31,Uttar Pradesh,"70,680","50,129",50%,"1,043"
31,32,Bihar,"44,652","31,626",31%,659
32,33,Andaman & Nicobar Islands,-,-,-,-

# 5.
Scrape the details of trending repositories on Github.com.

Url = https://github.com/
    
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

In [5]:
driver.get("https://github.com/")    #getting the webpage
explore=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/summary").click()
time.sleep(2)
trend=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul/li[5]/a").click()

ttl=[]     #empty list
rdesc=[]   #empty list
cc=[]      #empty list
lang=[]    #empty list

t=driver.find_elements(By.XPATH,"//h1[@class='h3 lh-condensed']/a") #fetching repository title
for i in t:
    ttl.append(i.text)

try:    
    r=driver.find_elements(By.XPATH,"//p[@class='col-9 color-fg-muted my-1 pr-4']")    #fetching description
    for i in r:
        rdesc.append(i.text)
except:
    rdesc.append('-')   #if description is not available, appending '-'
    
l=driver.find_elements(By.XPATH,"//div[@class='f6 color-fg-muted mt-2']/span[1]")  #fetching language used
for i in l:
    lang.append(i.text)
    
url=[] #empty list
urls=driver.find_elements(By.XPATH,"//h1[@class='h3 lh-condensed']/a") #fetching url of each repository
for i in urls[:]:
    url.append(i.get_attribute('href')) 
for i in url:  #from each urls fetching data
    driver.get(i)   
    c=driver.find_element(By.XPATH,"//div[@class='Layout-sidebar']/div/div[5]/div/h2/a/span") #fetching contributors count
    cc.append(c.text)    
    
Trending=pd.DataFrame({})   #creating the dataframe
Trending['Repository Title']=ttl
Trending['Repository Description']=rdesc
Trending['Contributors Count']=cc
Trending['Language Used']=lang
Trending

,Repository Title,Repository Description,Contributors Count,Language Used
0,CERTCC / CVE-2021-44228_scanner,Scanners for Jar files that may be vulnerable ...,3,PowerShell
1,signalapp / Signal-Calling-Service,Forwards media from 1 group call device to N g...,4,Rust
2,LunarVim / Neovim-from-scratch,A Neovim config designed from scratch to be un...,1,Lua
3,aristocratos / btop,A monitor of resources,4,C++
4,kozmer / log4j-shell-poc,A Proof-Of-Concept for the recently found CVE-...,4,Java
5,QianMo / Game-Programmer-Study-Notes,⚓ 我的游戏程序员生涯的读书笔记合辑。你可以把它看作一个加强版的Blog。涉及图形学、实时渲...,5,Built by
6,proferosec / log4jScanner,清华大学计算机系课程攻略 Guidance for courses in Departmen...,5,Go
7,PKUanonym / REKCARC-TSC-UHT,-,5,HTML
8,google / guava,Google core libraries for Java,5,Java
9,tiangolo / fastapi,"FastAPI framework, high performance, easy to l...",1,Python
10,ytdl-org / youtube-dl,Command-line program to download videos from Y...,1,Python
11,cisagov / log4j-affected-db,A community sourced list of log4j-affected sof...,5,Built by
12,justjavac / free-programming-books-zh_CN,📚 免费的计算机编程类中文书籍，欢迎投稿,4,Built by
13,jfrog / log4j-tools,-,5,Python
14,google / mediapipe,"Cross-platform, customizable ML solutions for ...",5,C++
15,facebook / create-react-app,Set up a modern web app by running one command.,5,JavaScript
16,fox-it / log4j-finder,Find vulnerable Log4j2 versions on disk and al...,5,Python
17,alibaba / COLA,🥤 COLA: Clean Object-oriented & Layered Archit...,5,Java
18,Loopring / loopring-web-v2,"Web application version 2, update new UI design.",5,TypeScript
19,getify / You-Dont-Know-JS,A book series on JavaScript. @YDKJS on twitter.,5,Built by
20,abpframework / abp,Open Source Web Application Framework for ASP....,5,C#
21,serverless-stack / serverless-stack,💥 Serverless Stack (SST) is a framework that m...,5,TypeScript
22,sveltejs / svelte,Cybernetically enhanced web apps,5,TypeScript
23,obsproject / obs-studio,OBS Studio - Free and open source software for...,5,C
24,niubiqigai / turtle,使用python的turtle画樱花树，玫瑰，圣诞树，小猪佩奇，蛋糕，小黄人，贪吃蛇游戏61行代码,5,Python

# 6. 
Scrape the details of top 100 songs on billiboard.com.

Url = https:/www.billboard.com/
    
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board

In [6]:
driver.get("https://www.billboard.com/")    #getting the webpage
chart=driver.find_element(By.XPATH,"/html/body/div[4]/header/div[1]/div/div/div[2]/div/nav/ul/li[1]/a").click() #clicking on charts
time.sleep(2)
hotpage=driver.find_element(By.XPATH,"/html/body/div[4]/header/div[2]/div/nav/ul/li[1]/a").click() #clicking on hot-100

song=[]   #empty list
artist=[] #empty list
lrank=[]  #empty list
prank=[]  #empty list
week=[]   #empty list

#fetching song name
s=driver.find_elements(By.XPATH,"//ul[@class='lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max']/li/h3")
for i in s:
    song.append(i.text)
    
a=driver.find_elements(By.XPATH,"//li[@class='lrv-u-width-100p']/ul/li[1]/span") #fetching artist name
for i in a:
    artist.append(i.text)
    
l=driver.find_elements(By.XPATH,"//li[@class='lrv-u-width-100p']/ul/li[4]") #fetching last week rank
for i in l:
    lrank.append(i.text)

p=driver.find_elements(By.XPATH,"//li[@class='lrv-u-width-100p']/ul/li[5]") #fetching peak rank
for i in p:
    prank.append(i.text)

w=driver.find_elements(By.XPATH,"//li[@class='lrv-u-width-100p']/ul/li[6]") #fetching weeks on board
for i in w:
    week.append(i.text)    
    
Song=pd.DataFrame({})   #creating the dataframe
Song['Song Name']=song
Song['Artist Name']=artist
Song['Last Week Rank']=lrank
Song['Peak Rank']=prank
Song['Weeks On Board']=week
Song

,Song Name,Artist Name,Last Week Rank,Peak Rank,Weeks On Board
0,Easy On Me,Adele,1,1,9
1,All I Want For Christmas Is You,Mariah Carey,3,1,48
2,Rockin' Around The Christmas Tree,Brenda Lee,4,2,42
3,Stay,The Kid LAROI & Justin Bieber,2,1,22
4,A Holly Jolly Christmas,Burl Ives,7,4,23
...,...,...,...,...,...
95,Memory I Don't Mess With,Lee Brice,91,33,19
96,I'll Be Home For Christmas,Camila Cabello,-,97,1
97,Mercedes,Brent Faiyaz,-,98,1
98,Poke It Out,Wale Featuring J. Cole,87,79,6
99,Partin Ways,Polo G,-,100,1

# 7.
Scrape the details of Data science recruiters from naukri.com.

Url = https://www.naukri.com/
    
You have to find the following details:
    
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location

In [7]:
driver.get("https://www.naukri.com/")    #getting the webpage
time.sleep(5)
recruiter=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div/ul[1]/li[2]/a").click() #clicking on recruiters
time.sleep(5)
driver.get(driver.current_url) #fetching the current url as a new tab has opened
#clicking on search pan
searchpan=driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/div/div[1]/div[1]/div[2]/input")
searchpan.send_keys("Data science") #entering keyword "Data science" in search pan
#clicking  on  search button
searchbtn=driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/button").click() 

rname=[]   #empty list
desg=[]    #empty list
company=[] #empty list
skills=[]  #empty list
loc=[]     #empty list

rn=driver.find_elements(By.XPATH,"//a[@class='ellipsis'][1]")    #fetching recruiter's name
for i in rn:
    rname.append(i.text)
    
d=driver.find_elements(By.XPATH,"//span[@class='ellipsis clr']")  #fetching designation of recruiter
for i in d:
    desg.append(i.text)
    
c=driver.find_elements(By.XPATH,"//a[@class='ellipsis'][2]")      #fetching company's name
for i in c:
    company.append(i.text)
    
sk=driver.find_elements(By.XPATH,"//div[@class='hireSec highlightable']")  #fetching skills they hire for
for i in sk:
    skills.append(i.text)

try:    
    lc=driver.find_elements(By.XPATH,"//small[@class='ellipsis']")   #fetching location
    for i in lc:
        loc.append(i.text)
except:
    loc.append('-') #appending '-' wherever the location is missing
    
Recruiters=pd.DataFrame({})   #creating the dataframe
Recruiters['Name']=rname
Recruiters['Designation']=desg
Recruiters['Company']=company
Recruiters['Skills they hire for']=skills
Recruiters['Location']=loc
Recruiters

,Name,Designation,Company,Skills they hire for,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
6,Institute for Financial Management and Research,Programme Manager,IFMR,Data Science,Chennai
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
8,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
10,Priyanka Akiri,Hr Manager,Infinitive Software Solutions,"Oracle Dba, Data Science, Data Warehousing, ET...",Hyderabad
11,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
12,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
13,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
14,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
15,Sakshi Chhikara,Assistant Manager HR,BIZ INFOTECNO PRIVATE LIMITED,"React.js, Data Science, Java, Front End, Busin...",Chandigarh
16,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
17,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune
18,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
19,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
20,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
21,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE,"Corporate Sales, Software Development, Softwar...",Delhi
22,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
23,Rithika Dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
24,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
25,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
26,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
27,Kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
28,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",-
29,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Delhi
30,Avodha,Business Development Associate,Nikitha Palaparthi,"Ethical Hacking, Security Operations Center, S...",Hyderabad / Secunderabad
31,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Mysoru / Mysore
32,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti...",Bengaluru / Bangalore
33,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"Server Administartion, Verilog, Vhdl, Digital ...",Bengaluru / Bangalore
34,Prateek Kumar,Head,Trisect,"Java, Python, Angularjs, Software Testing, Mac...",Noida
35,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",New Delhi
36,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Chennai
37,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting,"Relationship Management, Retail Sales, Private...",Aligarh
38,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Salt Lake City
39,Rutuja Panwar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Pune
40,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Bengaluru / Bangalore
41,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Mumbai
42,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Indore
43,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",Bengaluru / Bangalore
44,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",MYSORE
45,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Hyderabad / Secunderabad
46,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Bengaluru / Bangalore
47,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Mumbai
48,Amir Chowdhury,Managing Partner,Granular.ai,"Machine Learning, Data Science, Product Manage...",-
49,SHREEDHAR,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,"Data Science, Machine Learning, Big Data Analy...",Hyderabad / Secunderabad

# 8. 
Scrape the details of Highest selling novels.

Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/
    
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [8]:
#getting the webpage
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")
book=[]    #empty list
author=[]  #empty list
vol=[]     #empty list
pub=[]     #empty list
genre=[]   #empty list

b=driver.find_elements(By.XPATH,"//table[@class='in-article sortable']/tbody/tr/td[2]")  #fetching book name
for i in b:
    book.append(i.text)
    
a=driver.find_elements(By.XPATH,"//table[@class='in-article sortable']/tbody/tr/td[3]")  #fetching author name
for i in a:
    author.append(i.text)

v=driver.find_elements(By.XPATH,"//table[@class='in-article sortable']/tbody/tr/td[4]")  #fetching volumes sold
for i in v:
    vol.append(i.text)
    
p=driver.find_elements(By.XPATH,"//table[@class='in-article sortable']/tbody/tr/td[5]")  #fetching publisher
for i in p:
    pub.append(i.text)

g=driver.find_elements(By.XPATH,"//table[@class='in-article sortable']/tbody/tr/td[6]")  #fetching genre
for i in g:
    genre.append(i.text)
    
Books=pd.DataFrame({})   #creating the dataframe
Books['Book Name']=book
Books['Author Name']=author
Books['Volumes Sold']=vol
Books['Publisher']=pub
Books['Genre']=genre
Books

,Book Name,Author Name,Volumes Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# 9. 
Scrape the details most watched tv series of all time from imdb.com.

Url = https://www.imdb.com/list/ls095964455/
    
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [9]:
driver.get("https://www.imdb.com/list/ls095964455/")    #getting the webpage
name=[]   #empty list
year=[]   #empty list
gen=[]    #empty list
run=[]    #empty list
rate=[]   #empty list
vote=[]   #empty list

n=driver.find_elements(By.XPATH,"//h3[@class='lister-item-header']/a")  #fetching name
for i in n:
    name.append(i.text)
    
y=driver.find_elements(By.XPATH,"//h3[@class='lister-item-header']/span[2]")  #fetching year span
for i in y:
    year.append(i.text)
    
gn=driver.find_elements(By.XPATH,"//span[@class='genre']")  #fetching genre
for i in gn:
    gen.append(i.text)
    
rn=driver.find_elements(By.XPATH,"//span[@class='runtime']")  #fetching run time
for i in rn:
    run.append(i.text)
    
r=driver.find_elements(By.XPATH,"//div[@class='ipl-rating-widget']/div[1]/span[2]")  #fetching ratings
for i in r:
    rate.append(i.text)
    
v=driver.find_elements(By.XPATH,"//div[@class='lister-item-content']/p[4]/span[2]")  #fetching votes
for i in v:  
    vote.append(i.text)

TVShows=pd.DataFrame({})    #creating the dataframe
TVShows['Name']=name
TVShows['Year Span']=year
TVShows['Genre']=gen
TVShows['Run Time']=run
TVShows['Ratings']=rate
TVShows['Votes']=vote
TVShows

,Name,Year Span,Genre,Run Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"1,914,867"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"941,426"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"917,018"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"274,517"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"234,936"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"46,794"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"57,574"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"181,532"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"37,963"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"215,379"

# 10. 
Details of Datasets from UCI machine learning repositories.

Url = https://archive.ics.uci.edu/
    
You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year

In [10]:
driver.get("https://archive.ics.uci.edu/")    #getting the webpage
aldata=driver.find_element(By.XPATH,"/html/body/table[1]/tbody/tr/td[2]/span[2]/a/font/b").click() #clicking on show all dataset
time.sleep(2)

dataset=[]    #empty list
datatype=[]   #empty list
task=[]       #empty list
attribute=[]  #empty list
inst=[]       #empty list
attr=[]       #empty list
yr=[]         #empty list

ds=driver.find_elements(By.XPATH,"//table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[1]")  #fetching dataset names
for i in ds:
    dataset.append(i.text)
    
dt=driver.find_elements(By.XPATH,"//table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]")  #fetching data type
for i in dt:
    datatype.append(i.text) 
    
tk=driver.find_elements(By.XPATH,"//table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]")  #fetching task
for i in tk:
    task.append(i.text)
    
at=driver.find_elements(By.XPATH,"//table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]")  #fetching attribute type
for i in at:
    attribute.append(i.text) 
    
ins=driver.find_elements(By.XPATH,"//table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]")  #fetching number of instances
for i in ins:
    inst.append(i.text)
    
att=driver.find_elements(By.XPATH,"//table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]")  #fetching number of attributes
for i in att:
    attr.append(i.text) 
    
y=driver.find_elements(By.XPATH,"//table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]")    #fetching year
for i in y:
    yr.append(i.text)  

Datasets=pd.DataFrame({})   #creating the dataframe
Datasets['Dataset Name']=dataset
Datasets['Data Type']=datatype
Datasets['Task']=task
Datasets['Attribute Type']=attribute
Datasets['Number of Instances']=inst
Datasets['Number of Attributes']=attr
Datasets['Year']=yr
Datasets[1:]  #since the zeroth index contains the column titles and we don't want to print it twice, hence we use slicling

,Dataset Name,Data Type,Task,Attribute Type,Number of Instances,Number of Attributes,Year
1,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
2,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
3,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
4,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
5,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
584,in-vehicle coupon recommendation,Multivariate,Classification,,12684,23,2020
585,Gait Classification,Multivariate,Classification,Real,48,321,2020
586,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
587,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
588,Synchronous Machine Data Set,Multivariate,Regression,Real,557,5,2021

In [11]:
driver.quit() #closing chrome